<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--Регистрируем наши собственные фильтры, которые находятся в templatetags-->
{% load custom_filters %}
<!--А также регистрируем собственные теги(пока в нем только дата)-->
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
    Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все товары</h1>

    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    на метод strftime у объекта datetime в Python — вывод времени в указанном формате. -->
<!--    <h3>{{ time_now|date:'M d Y' }}</h3>-->
    <!-- Сверху мы использовали контекст, а снизу просто тег! Очень удобно, можно использовать в любом HTML-->
    <h3>{% current_time '%A %m.%d.%Y' %}</h3>

    <!--Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе-->
    <form action="" method="get">
        <!--Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями-->
        {{ filterset.form.as_p }}
        <!--Добавим кнопку отправки данных формы-->
        <input type="submit" value="Найти" />
    </form>

    <!-- Если в переменной next_sale будет None (именно NONE, иначе default), то выведется указанный в фильтре текст -->
    <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    <hr>
    {% if products %}
        <table border="1"> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <th>Название</th> <!-- Добавляем ячейку в строку -->
                <th>Описание</th> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                <th>Категория</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr> <!-- Не забываем закрыть HTML-тег строки -->

            <!-- Для каждого товара будет генерироваться новая строчка,
            т.е. новый HTML код, который указан в теле цикла.
            При этом сам цикл работает точно так же, как и в Python.
            product — переменная цикла, т.е. наш товар полученный из списка -->
            {% for product in products %}
            <tr>
                <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
                <td>{{ product.name|truncatewords:7 }}</td>
                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 15.
                Все остальные символы превратятся в многоточие. -->
                <td>{{ product.description|truncatechars:20 }}</td> <!-- <переменная>|<название метода>:<аргументы>-->
                <td>{{ product.category.name }}</td>  <!-- Не забываем как обращаться ко связанным таблицам -->
                <td>{{ product.price|currency:'usd' }}</td> <!-- Используем кастомный фильтр-->
                <td>{{ product.quantity }}</td>
            </tr>
            {% endfor %}

        </table> <!-- ... и таблицы -->
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}

    <!--Добавляем пагинацию на страницу-->

    <!--Информация о предыдущих страницах-->
    {% if page_obj.has_previous %}
        <!--<a href="?page=1">1</a>-->
        <!--Для каждой ссылки пагинации указываем обработку через новый тег -->
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <!--<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    <!--Информация о текущей странице-->
    {{ page_obj.number }}

    <!--Информация о следующих страницах-->
    {% if page_obj.has_next %}
        <!--<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
        <!--<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}

<!--page_obj — это объект, в котором содержится информация о текущей странице:-->
<!--В page_obj мы имеем доступ к следующим переменным:-->
<!--    has_previous — существует ли предыдущая страница;-->
<!--    previous_page_number — номер предыдущей страницы;-->
<!--    number — номер текущей страницы;-->
<!--    has_next — существует ли следующая страница;-->
<!--    next_page_number — номер следующей страницы;-->
<!--    paginator.num_pages — объект paginator содержит информацию о количестве страниц в переменной num_pages.-->